@using System.Collections.Generic;
@using SchedulerWebApp.Models;

@model IEnumerable<Task>

@{
    ViewBag.Title = "Планировщик";
}
<h2>Планировщик</h2>

<div class="alerts-container container">
    <div class="alert alert-success task-list-alert hide-alert"></div>
</div>

<div class="headers-container container">
    <div class="header col-md-2">№</div>
    <div class="header col-md-8">Дела</div>
    <div class="header col-md-2">Удалить</div>
</div>
<hr />

<div class="tasks-container">
    @Html.Partial("_TasksList")
</div>

<div class="add-form container">
    @Html.Partial("_AddForm")
</div>